<%= form_for(@jogos_jogador, {:remote => true}) do |f| %>
  <% if params[:id] %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :jogo_id %><br>
        <%= f.hidden_field  :jogo_id, :value => JogosJogador.find(params[:id]).jogo.id, readonly: true, class: 'form-control' %>
        <%= text_field_tag :jogo_id, JogosJogador.find(params[:id]).jogo.dia.strftime('%d/%m/%Y'), readonly: true, class: 'form-control' %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :jogo_id %><br>
        <%= f.text_field :jogo_id, :value => params[:dia], readonly: true, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :jogador_id %><br>
      <%= f.select(:jogador_id, Jogador.all.order(:nome).collect {|e| [e.nome, e.id]}, {:prompt => 'Selecione'}, {:class => 'form-control', required: true}) %>
    </div>
    <div class="col-md-2">
      <%= f.label :gol, "Qtdd Gols" %><br>
      <%= f.number_field :gol, value: @jogos_jogador.gol || "0", in: (0..100), class: 'form-control', required: true %>
    </div>
    <div class="col-md-2">
      <%= f.label :cota, "Cota (R$)" %><br>
      <%= f.text_field :cota, value: @jogos_jogador.cota || "0", class: 'form-control', required: true %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Salvar', :id => 'adicionar', class: 'btn btn-sm btn-success' %>
    <%= link_to 'Voltar', jogos_path, class: 'btn btn-sm btn-default' %>
  </div>
<% end %>
<br>
<div id="mensagem"></div>
<hr>
<div id="jogadores"></div>

<script>
  $('#jogadores').html("<%= j render :partial => '/jogos_jogadores/jogadores_jogo', :locals => {lista_jogadores_jogo: @lista_jogadores_jogo} %>");
</script>